en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
flashtext
Flask
Flask-Compress
gensim
keras
Keras-Preprocessing
matplotlib
matplotlib-inline
nlp
nltk
numpy
pandas
parso
pathspec
pathy
pickleshare
Pillow
pke-tool
platformdirs
plotly
rarfile
regex
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
sklearn
spacy
spacy-legacy
spacy-loggers
stemming
symspellpy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
testpath
textblob
tf-estimator-nightly
tokenizers
torch
torchtext
